     {{#if update}}
    <form class="vflex" method="POST" action="/inventory/update-category/{{category.id}}">
       <label for="name">Category Name</label>
      <input type="text" id="name" name="name" value={{category.name}}>
      <button type="submit">Update category</button>
    </form>
    {{else}}
    <form class="vflex" method="POST" action="/inventory/new-category">
       <label for="name">Category Name</label>
      <input type="text" id="name" name="name"/>
      <button type="submit">Create new category</button>
    </form>
    {{/if}}

