<nav>
  <div class="hflex" id="nav-cont">
    <h1>Inventory Management</h1>
    <div id="search-cont">
    <form class="search" method="POST" action="/inventory/search">
      <input type="text" name="search" placeholder="Search for an product name"/>
      <button type="submit">Search</button>
    </form>
    </div>
    <ul class="hflex">
      {{#if isDashboard}}
      <li><a class="active-tab" href="/">Dashboard</a></li>
      <li><a class="" href="/inventory/">Inventory</a></li>
      {{else}}
        <li><a class="" href="/">Dashboard</a></li>
      <li><a class="active-tab" href="/inventory/">Inventory</a></li>
      {{/if}}
    </ul>
  </div>
</nav>