<nav>
  <div class="hflex" id="nav-cont">
    <h1 id="logo">Inventory Manager</h1>
    <div id="search-cont">
    <form class="search" method="POST" action="/inventory/search">
      <div class="hflex">
        <div id="search-input"><input type="text" name="search" placeholder="Search for a product by name"/></div>
        <div id="search-button"><button type="submit">Search</button></div>
      </div>
    </form>
    </div>
    <ul class="hflex">
      {{#if isDashboard}}
      <li><a class="active-tab" href="/">Dashboard</a></li>
      <li><a class="" href="/inventory/">Inventory</a></li>
      {{else}}
        <li><a class="" href="/">Dashboard</a></li>
      <li><a class="active-tab" href="/inventory/">Inventory</a></li>
      {{/if}}
    </ul>
  </div>
</nav>