<nav>
  <div class="hflex" id="nav-cont">
    <h1>Inventory Management</h1>
    <div id="search-cont">
    <form class="search" method="POST" action="./search">
      <input type="text" name="search" placeholder="Search for an product name"/>
      <button type="submit">Search</button>
    </form>
    </div>
    <ul class="hflex">
      <li><a href="/">Dashboard</a></li>
      <li><a class="active-tab" href="/inventory/">Inventory</a></li>
    </ul>
  </div>
</nav>