<section id="sidebar">
  <ul class="stack">
    <li><a class="button-link" href="inventory/new-category">Add new category</a></li>
    <li><a class="button-link" href="inventory/new-item">Add new item</a></li>
  </ul>

  <ul>
    <li>All</li>
    {{#each categories}}
    <li>{{this.name}}</li>
    {{/each}}
  </ul>
</section>