{{> nav}}

<div class="hflex">
  {{> sidebar}}
  <section class="form">
    {{errors}}
    {{#if isCategory}}
      {{> categoryform}}
    {{else}}
      {{> itemform}}
    {{/if}}
  </section>
</div>
