<nav>
  <div class="hflex" id="nav-cont">
    <h1>Inventory Management</h1>
    <div id="search-cont">
    <form action="" class="search">
      <input type="text"/>
      <button type="submit">Search</button>
    </form>
    </div>
    <ul class="hflex">
      <li><a class="active-tab" href="/">Dashboard</a></li>
      <li><a href="/inventory">Inventory</a></li>
    </ul>
  </div>
</nav>

<section class="hflex" id="dashboard">
<div class="card">
  <p>Number of Items</p>
  <p class="count">{{data.item_count}}</p>
</div>
<div class="card">
  <p>Low stock items</p>
  <p class="count">{{data.low_stock_count}}</p>
</div>
<div class="card">
  <p>Out of stock items</p>
  <p class="count">{{data.out_of_stock_count}}</p>
</div>
<div class="card">
  <p>Number of Categories</p>
  <p class="count">{{data.category_count}}</p>
</div>
</section>

