<nav>
  <div class="hflex" id="nav-cont">
    <h1>Inventory Management</h1>
    <div id="search-cont">
    <form action="" class="search">
      <input type="text"/>
      <button type="submit">Search</button>
    </form>
    </div>
    <ul class="hflex">
      <li><a class="active-tab" href="/">Dashboard</a></li>
      <li><a href="/inventory">Inventory</a></li>
    </ul>
  </div>
</nav>

<section class="hflex" id="dashboard">
{{#each metrics}}
<div class="card">
  <p>{{this.label}}</p>
  <p class="count">{{this.count}}</p>
</div>
{{else}}
<p>Not able to load metrics.</p>
{{/each}}
</section>

