{{> nav}}


<div class="hflex">
  {{> sidebar}}
  <section class="form">
    <form class="vflex" method="POST" action="./new-category">
    {{#each errors}}
    <div>{{this}}</div>
    {{/each}}
       <label for="name">Category Name</label>
      <input type="text" id="name" name="name"/>
      <button type="submit">Create new category</button>
    </form>
  </section>
</div>