{{> nav}}


<div class="hflex">
  {{> sidebar}}
  <section class="form">
    <form class="vflex">
       <label for="name">Category Name</label>
      <input type="text" id="name"/>
      <button type="submit">Create new category</button>
    </form>
  </section>
</div>