/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root,
button,
input,
select {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 1rem;
}

* {
  color: #102a43;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

div.result-info {
  gap: 1rem;
}

a,
.link-button {
  color: #0a558c;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #f0f4f8;
  overflow-x: hidden;
}

ul {
  padding: 0;
  list-style: none;
}

.grid {
  display: grid;
}

.hflex {
  display: flex;
}

.vflex {
  display: flex;
  flex-direction: column;
}

div#page-cont {
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
}

nav {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  padding: 0.5rem 0;
}

ul.hflex {
  gap: 1rem;
}

a.active-tab {
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem 0.5rem 0rem 0;
}

#nav-cont.hflex {
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
  gap: 1rem;
}

div#search-cont {
  width: 55%;
}

select,
input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #d9e2ec;
  border: 1px solid rgba(0, 0, 0, 0.08);
  margin-top: 0.5rem;
}

input:focus {
  background-color: white;
}

section#sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25ch;
}

section.form,
section#item-viewer {
  flex-grow: 3;
  flex-shrink: 1;
  flex-basis: 65ch;
  background-color: white;
  padding: 2rem;
  border-top-left-radius: 1rem;
  min-height: 92vh;
}

a.button-link,
button {
  background-color: #f7c948;
  padding: 0.58rem 0.8rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #8d2b0b;
  border: 0;
}

.stack > * {
  margin-bottom: 1.5rem;
}

div.item {
  gap: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

img {
  background-color: #bcccdc;
  display: inline-block;
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 12;
  border-radius: 0.5rem;
}

section#dashboard {
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: white;
  min-height: 92vh;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 2rem;
}

div.card {
  flex: 1;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0px 3px 10px #102a4321;
  text-align: center;
}

p.count {
  font-size: 3rem;
}

button.link-button {
  border: 0;
  background-color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

div.edit {
  align-items: baseline;
}

form.search > div.hflex {
  align-items: center;
}

div#search-input {
  flex-grow: 6;
  flex-shrink: 1;
  flex-basis: auto;
}

div#search-button {
  flex: 1;
}

div#search-input > input {
  margin-top: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

div#search-button > button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.form {
  width: 55ch;
}

hr {
  border: 1px dotted #d9e2ec;
}

h1#logo,
h2 {
  font-size: 1.2rem;
}
